.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    margin-bottom: 0%;
  }
  
  .footer-link {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-link:hover {
    color: #2b75d6;
  }
  